/**
 * 定义搜索的公用样式
 * dailc
 */
.common-input-row {
	position: relative;
	height: 44px;
	background-color: #eaeaea;
	border-bottom: 1px solid #e6e6e6;
	padding: 6px 10px 6px 10px;
	overflow: hidden;
}
.common-input {
	background-color: #fff;
	border: 1px solid #cecece;
	border-radius: 30px;
	margin-top: 0;
}
input[type=text].common-input-clear {
	border: 0;
	line-height: 14px;
	font-size: 12px;
	height: 30px;
	margin-bottom: 0;
	margin-left: 16px;
	padding-left: 5px;
	max-width: 70%;
}
/*搜索按钮*/
.btn-search {
	display: block;
	float: left;
	color: #c1c1c1;
	width: 22px;
	height: 22px;
	margin-top: 4px;
	margin-left: 18px;
}
.btn-search:active {
	color: #8cd2a3;
}