/**
 * 重置css样式
 * 参考了bootstrap源码
 * @author dailc
 */
/* 重置浏览器CSS */

/*
 *  content-box(css2定位行为)，这时候在宽度和高度之外绘制元素的内边距和边框。
 *  border-box 为元素指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制。
 *  所有最好用border-box,便于计算，否则会出现误差
 */
* {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body,button,input,select,textarea{font-size:12px/1.5;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img,a img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}

.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1;}
body .hide{display:none;}
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}

/***********default settings**********/
body {font-family: "微软雅黑","Arial","Helvetica","sans-serif";font-size:16px;}
a {color:#23527c;;text-decoration:none;outline:none;}
a:hover, a:focus {color: #23527c;text-decoration: underline;}
a:active, a:hover {outline: 0;}
a.external {padding-right:13px;background:url('/images/icons.gif') no-repeat right 1px;}
a.external:hover {background-position:right -15px;}
/*各大标题的样式,仿照bootstrap*/
h1, h2, h3, h4, h5, h6 {font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;}
h1,h2,h3 {margin-top: 20px;margin-bottom: 10px;}
h1 {font-size:36px;font-weight:bold;}
h2 {font-size:22px;font-weight:bold;}
h3 {font-size:18px;font-weight:bold;}
h4,h5,h6 {font-weight:bold;margin-bottom:15px;}
p { margin: 0 0 10px;line-height:1.8em;}
blockquote {padding: 10px 20px;margin: 0 0 20px;font-size: 17.5px;border-left: 5px solid #eee;}
ol,ul {
    list-style-position: inside;
    border: rgb(226, 222, 222);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: .3em 0;
}

code, kbd, pre, samp {font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
code {padding: 2px 4px;font-size: 90%;color: #c7254e;background-color: #f9f2f4;border-radius: 4px;}
pre {display: block;padding: 9.5px;margin: 0 0 10px;font-size: 13px;line-height: 1.42857143;color: #333;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc;border-radius: 4px;}
pre code {padding: 0;font-size: inherit;color: inherit;white-space: pre-wrap;background-color: transparent;border-radius: 0;}
pre ol {margin-left: 0;list-style-type:decimal;}
h4+pre, h3+pre { margin-top:20px; }
sub, sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline;}
sup {top: -.5em;}

.entry-title,.entry-title a {font-size:30px;font-weight:bold;margin-bottom:6px;color:#000;text-align:center;word-wrap: break-word;}
.entry-title a:hover {text-decoration:none;}
.entry-date {text-align:center;color:#999;margin-bottom:60px;font-size:14px;}


.mt40 {margin-top: 40px;}
.mt60 {margin-top: 60px;}
.mt66 {margin-top: 66px;}
.mt70 {margin-top: 70px;}
.mt80 {margin-top: 80px;}
.mt120 {margin-top: 120px;}
