/**
 * 通用组件之-> input
 * 最低考虑到了 320px宽度的设备
 * @author dailc
 */
body{
	background-color: #fff;
}
.show-simple {
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	margin-top: 10px;
}
/*************搜索栏目相关**********************/
/***通用样式***/
.common-input-row {
	position: relative;
	height: 44px;
	padding: 6px 10px 6px 10px;
	background-color: #eaeaea;
	overflow: hidden;
}
.common-input-row .btn-search {
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	margin: 4px 0 0 8px;
	color: #333;
}
.common-input-row .btn-search:active {
	color: #8cd2a3;
}
/*输入框*/
.common-input-row input[type=text].common-input-clear,
.common-input-row input[type=number].common-input-clear {
	max-width: 80%;
	height: 30px;
	margin: 0 0 0 8px;
	padding-left: 2px;
	font-size: 12px;
	line-height: 14px;
	border: 0;
}
.common-input-row .common-input {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 30px;
	overflow: hidden;
}
/***样式1***/
/*目前无自定义*/
/***样式2***/
/*样式2的搜索框*/
.common-input-type2 .common-input {
	margin-right: 30px;
	/*定制下border*/
	border-radius: 5px;
}
/*样式2 中的右侧文字*/
.common-input-type2 .btn-search-txt {
	position: absolute;
	right: 5px;
	top: 10px;
	font-size: 14px;
	color: #000000;
}
.common-input-type2 .btn-search-txt:active {
	color: #333333;
}
/***样式3***/
.show-simple3 {
	background: #469bfe;
}
.common-input-type3 {
	height: 52px;
	padding: 12px 7px;
	border: 0;
	background: transparent;
}
.common-input-type3 .common-input {
	height: 28px;
	font-size: 15px;
	border: 0;
	border-radius: 6px;
	background: #2684f0;
	text-align: center;
}
.common-input-type3 .btn-search,
.common-input-type3 .btn-search-txt {
	display: inline-block;
	float: none;
	color: #fff;
}
.common-input-type3 .btn-search {
	font-size: 20px;
}
.common-input-type3 .btn-search-txt:active,
.common-input-type3 .btn-search:active {
	color: #469bfe;
}
/***样式4,仿照mui的搜索,思路为两层，一层是搜索，一层是placeholder***/
/*去除背景*/
.common-input-type4 .mui-input-row {
	margin: 7px;
}
.common-input-type4  .mui-placeholder {
	color: #f0f0f0;
}
.common-input-type4  input[type=search] {
	background-color: #f0f0f0;
}
