/**
 * media相关的css
 */
.riz-textarea {
	margin-bottom: 0px;
	font-size: 14px;
}

.riz-fujian {
	height: 45px;
	padding-top: 8px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #dfdfdf;
}

.riz-fujian>div {
	float: left;
	width: 100%;
	height: 25px;
	/*border-right: 1px solid #d3d3d3;*/
	text-align: center;
}

.riz-fujian>div>i {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-size: 100% 100%;
}

.riz-microphone {
	background-image: url(../../img/media/img_voice_icon.png);
}


/**
 * 语音录制
 */
.zjg-voice {
	height: 35px;
	background-color: #fafafa;
	border-bottom: 1px solid #e6e6e6;
	display: none;
}

.zjg-voice-icon1 {
	float: right;
	margin-top: 6px;
	margin-right: 20px;
	width: 22px;
	height: 24px;
	background: url(../../img/media/voice-icon.png);
	background-size: 22px 24px;
}

.zjg-voice-icon2 {
	float: right;
	margin-top: 12px;
	margin-right: 36px;
	width: 8px;
	height: 12px;
	background: url(../../img/media/voice-icon1_1.png);
	background-size: 8px 12px;
}
.zjg-voice-icon2_1 {
	float: right;
	margin-top: 12px;
	margin-right: 36px;
	width: 10px;
	height: 15px;
	background: url(../../img/media/voice-icon1_2.png);
	background-size: 10px 15px;
	display: none;
}

.zjg-voice-num {
	float: right;
	margin-right: 55px;
	font-size: 13px;
	line-height: 35px;
}


.zjg-voice-input {
	margin-top: 10px;
	height: 36px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.zjg-hold {
	width: 100%;
	height: 36px;
	font-size: 15px;
	color: #999;
	border: none;
	background: url(../../img/media/img_voice_icon.png) 20px 8px no-repeat;
	background-size: 16px 20px;
}

.part2 {
	margin-top: 20px;
}

/* *
 * 定义keyframe动画，命名为blink 
 * 使得语音播放的时候，信号不听地动
 * */

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	50.01% {
		opacity: 0;
	}
	/* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */
	100% {
		opacity: 0;
	}
}


/* 添加兼容性前缀 */

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	50.01% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	50.01% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	50.01% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	50.01% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}


/**
 * @定义blink类
 * @description "1s"代表 一秒钟闪动一次，可以自行调整。
 * @author  sunzl
 * @time 2016-03-17
 * */
.blink {
	animation: blink 1s linear infinite;
	/* 其它浏览器兼容性前缀 */
	-webkit-animation: blink 1s linear infinite;
	-moz-animation: blink 1s linear infinite;
	-ms-animation: blink 1s linear infinite;
	-o-animation: blink 1s linear infinite;
	color: #dd4814;
