/**
 * 首页css
 */

.mui-content>.mui-table-view:first-child {
	margin-top: 0;
}
/*取出ul的线*/
.mui-table-view:before{
	height: 0;
}

/*每一个item*/
.mui-table-view-cell {
	/*改变下间距*/
	padding: 12px 20px;
}
.mui-table-view-cell.mui-collapse .mui-table-view {
	margin-left: 0px;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell {
	padding-left: 22px;
}
