/**
 * 测试android下输入框与输入法冲突问题
 */

html,body {
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
}
.mui-content{
	height: 100%;
	background:#f5f5f5 ;
}
.my-reservation {
	margin-top: 0px;
}

.mui-segmented-control {
	border: 0;
	border-radius: 0;
}

.mui-segmented-control ul {
	list-style: none;
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}

.mui-segmented-control li {
	float: left;
	width: 50%;
}

.tab-fgx {
	background: url(../../img/Interaction/MyAppointment/img_tab-fgx.png) right 50% no-repeat;
	background-size: 1px 20px;
}

.my-reservation .mui-control-item {
	display: table;
	margin: 0 auto;
	font-size: 15px;
	color: #666;
	border-bottom: 2px solid transparent;
}

.my-reservation .mui-control-item.mui-active {
	padding: 0px 10px;
	background-color: #fff;
	color: #3182EB;
	border-bottom: 2px solid #3182eb;
}

.mui-control-content {
	margin-top: 10px;
}

.add-btn {
	position: fixed;
	bottom: 0;
	margin-bottom: 0;
	height: 44px;
	border-radius: 0;
	padding: 0;
	border-color: #3182eb;
	background-color: #3182eb;
	font-size: 18px;
	color: #fff;
}

.search {
	height: 50px;
	padding: 8px 10px 0px 10px;
	background-color: #fff;
}

.search .mui-search {
	float: right;
	width: 85%;
	height: 34px;
	background-color: #FFFFFF;
}

.search .mui-search.mui-active:before {
	top: 24px;
	left: 8px;
}

.search .mui-input-clear {
	height: 34px;
	line-height: 34px;
	margin-bottom: 0;
}

.mui-search .mui-placeholder {
	font-size: 14px;
	color: #999;
	text-align: left;
}

.mui-search .mui-placeholder {
	left: 8px;
	text-align: left;
}

.search .mui-btn {
	float: left;
	padding: 0;
	width: 30px;
	margin-left: 6px;
	height: 30px;
	border: 0;
}

.mui-btn img {
	width: 30px;
	height: 30px;
}

input[type=search] {
	text-align: left
}

.mui-search input[type=search] {
	background: #FFFFFF !important;
	padding-left: 30px;
}


/*关键字*/

.tit-key {
	background: #f5f5f5;
	color: #666666;
	display: block;
	padding: 10px 0 5px 20px;
}


/*背景图*/

.img-top {
	width: 100%;
}


/*按钮*/
.tab_two{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.foo {
	position: fixed;
	bottom: 5px;
	height: 35px;
	width: 100%;
	border-top: 1px solid #d5d5d5;
	background: #fff;
}

.add-btn {
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	margin: 5px;
	width: 50%;
	border-color: #0b98f2;
	background-color: #0b98f2;
	border-radius: 20px;
	padding: 0;
	margin-left: 25%;
	color: #fff;
	z-index: 999;
}
.opticy{
	opacity: 0;
}