/**
 * 图片工具
 */
.img-container {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	border-top: 1px solid #adadad;
	border-bottom: 1px solid #adadad;
}
/**
 * 图片附件有关
 */
.img-container .img-photo {
    height: 60px;
    width: 60px;
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    border: none;
    float: left;
    margin: 0px 2px;
}
.img-container .plus-pic {
	/*让这个的zindex比图片预览的低*/
    z-index: 1;
    position: absolute;
    left: 50px;
    top: 5px;
    width: 20px;
    height: 20px;
}
.img-container .add-img {
	padding:10px 0px;
	position: relative;
}
